#!/usr/bin/make -f
#
# $(DEBIAN)/rules for Ubuntu linux
#
# Use this however you want, just give credit where credit is due.
#
# Copyright (c) 2007 Ben Collins <bcollins@ubuntu.com>
#

JLOAD=$(shell expr `getconf _NPROCESSORS_ONLN` \* 1)

DEBIAN=$(shell awk -F= '($$1 == "DEBIAN") { print $$2 }' <debian/debian.env)

printdebian:
	@echo "$(DEBIAN)"

# Debian Build System targets
%:
	@$(MAKE) -j$(JLOAD) --no-print-directory -f $(DEBIAN)/rules $@ DEBIAN=$(DEBIAN)
